/*==========================================
    Animations
==========================================*/
#cover {
    .card, h1, h2 {
        -webkit-animation: animate-fade-up 0.8s cubic-bezier(0.7, 0, 0, 0.99) both;
        animation: animate-fade-up 0.8s cubic-bezier(0.7, 0, 0, 0.99) both;
    }
    .btn-circle {
        -webkit-animation: animate-fade-in 0.8s cubic-bezier(0.7, 0, 0, 0.99) both;
        animation: animate-fade-in 0.8s cubic-bezier(0.7, 0, 0, 0.99) both;
    }
    h1 {
        animation-delay: 0.25s;
    }
    h2 {
        animation-delay: 0.5s;
    }
    .btn-circle {
        animation-delay: 0.75s;
    }
}
section {
    .row:first-of-type,
    .row .container.overview,
    .row.screenshots [class*="col-"], .row.screenshots [class^="col-"] {
        opacity: 0;
    }
}
section.animate-in {
    .row:first-of-type, // first row is always the title / header
    .row .container.overview, // content page info
    .row.cards [class*="col-"], .row.cards [class^="col-"], // homepage cards
    .row.screenshots [class*="col-"], .row.screenshots [class^="col-"] { // content screenshots
        -webkit-animation: animate-fade-up 0.8s cubic-bezier(0.7, 0, 0, 0.99) both;
        animation: animate-fade-up 0.8s cubic-bezier(0.7, 0, 0, 0.99) both;
    }
    .row .btn {
        -webkit-animation: animate-fade-in 0.8s cubic-bezier(0.7, 0, 0, 0.99) both;
        animation: animate-fade-in 0.8s cubic-bezier(0.7, 0, 0, 0.99) both;
        animation-delay: 0.7s;
    }
    .row .container.overview {
        animation-delay: 0.25s;
    }
    .row.cards [class*="col-"], .row.cards [class^="col-"] {
        .transition-cascade-delay(0.1s, 0.25s);
    }
    .row.cards .item-grid [class*="col-"], .row.cards [class^="col-"] {
        .transition-cascade-delay(0.05s, 0s);
    }
    .row.screenshots [class*="col-"], .row.cards [class^="col-"] {
        .transition-cascade-delay(0.1s, 0.25s);
    }
}

@keyframes animate-fade-up {
    from {
        opacity: 0;
        transform: translateY(60px);
    } to {
        opacity: 1;
    }
}
@-webkit-keyframes animate-fade-up {
    from {
        opacity: 0;
        -webkit-transform: translateY(60px);
    } to {
        opacity: 1;
    }
}

@keyframes animate-fade-in {
    from {
        opacity: 0
    }
}
@-webkit-keyframes animate-fade-in {
    from {
        opacity: 0
    }
}

.transition-cascade-delay(@interval: 0.1s, @delay: 0) {
        &:nth-child(1) { animation-delay: (@interval * 1 + @delay)!important; }
        &:nth-child(2) { animation-delay: (@interval * 2 + @delay)!important; }
        &:nth-child(3) { animation-delay: (@interval * 3 + @delay)!important; }
        &:nth-child(4) { animation-delay: (@interval * 4 + @delay)!important; }
        &:nth-child(5) { animation-delay: (@interval * 5 + @delay)!important; }
        &:nth-child(6) { animation-delay: (@interval * 6 + @delay)!important; }
        &:nth-child(7) { animation-delay: (@interval * 7 + @delay)!important; }
        &:nth-child(8) { animation-delay: (@interval * 8 + @delay)!important; }
}

.transition-shadow (@animate-length: 0.8s) {
    -webkit-transition: box-shadow @animate-length linear;
       -moz-transition: box-shadow @animate-length linear;
            transition: box-shadow @animate-length linear;
}
