/*==========================================
    Content Pages
==========================================*/

#page-header {
    background-color: @primary-tolopea-lighter;
    color: @text-white;
    font-family: "Roboto", sans-serif;
    font-size: 2.3rem;
    margin-top: 3.35rem;
    padding: 1.65rem 0;

    h1, h2 {
        margin: 0.55rem 0;
    }
    h2 {
        font-size: 1.4rem;
        font-weight: 300;
    }
}

aside {
    padding: 2.25rem 0;
}

section#overview {
    h1 {
        margin: 1.1rem 0;
    }
    .container.overview {
        min-height: 20rem;

        .screens {
            img {
                .shadow();
                position: absolute;
                width: 33.5rem;
                border-radius: 0.2rem;
                border: 0.55rem solid white;
            }
        }

        @media(max-width: 768px) {
            .screens {
                display: none;
            }
        }
    }
}

section#screenshots {
    background-color: @bg-darker;

    h1 {
        margin: 1.1rem 0;
    }

    [class*="col-"], [class^="col-"] {
        margin: 0.55rem 0;
        img {
            width: 100%;
        }
        .img {
            .shadow();
            border: 0.25rem solid white;
            border-radius: 2px;
        }
        .img:hover:after  {
            background: white!important;
            border-radius: 4px;
            color: @text-black;
            content: attr(data-tooltip)!important;
            padding: 0.35rem 0.85rem;
            position: absolute;
            z-index: 999;
            left: 1.6em;
            bottom: 0.75em;
        }
    }
}

#photo-box {
    padding: 0;
    .photo-box {
        display: block;
        margin: 0 auto;
        max-width: 650px;
        position: relative;
        overflow: hidden;

        img {
            height: 313px;
            width: auto;
            max-height: 313px;
        }
    }

    .photo-box-caption {
        background: none repeat scroll 0% 0% @primary;
        bottom: 0;
        color: white;
        display: block;
        height: 100%;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease 0s;
        vertical-align: middle;
        width: 100%;
    }

    .photo-box-caption:hover,
    .photo-box-caption:focus {
        opacity: 0.9;
    }

    .photo-box-caption-text {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-70%);
        transform: translateY(-70%);
    }

    .no-spacing > [class *= "col-"] {
        padding: 0;
        margin: 0;
    }
}
