/*
 * Personal Portfolio
 *
 * @author: Adam Houston
 * @github: github.com/phazyy
 *
*/

/*==========================================
    Variables
==========================================*/

@primary: #2886f2;
@primary-light: lighten(@primary, 15%);
@primary-dark: darken(@primary, 5%);

@secondary: spin(@primary, 180);
@secondary-light: lighten(@secondary, 15%);
@secondary-dark: darken(@secondary, 5%);

@primary-crimson: #EE184C;
@primary-tolopea: #221C36;
@primary-wax: #ECAC96;

@text-black: #212121;
@text-grey: #616161;
@text-white: white;

@divider: #B1B1B1;

@sidebar: #2E3A4E;
@sidebar-light: lighten(@sidebar, 15%);
@sidebar-dark: darken(@sidebar, 5%);
